.aboutContent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #383C83;
}

.blueContent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #383C83;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.language {
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
}

.x-tbar-goBackwardQuery {
    background-image: url(images/goBackwardQuery.png) !important;
}

.x-tbar-goForwardQuery {
    background-image: url(images/goForwardQuery.png) !important;
}

.resourceTitle {
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: arial,verdana,sans-serif;
    font-size: 13px;
    color: #99248F;
}

.resourceDesc {
    padding-top: 2px;
    white-space: normal;
    font-family: arial,verdana,sans-serif;
}

.lo-grid .x-grid-cell-inner {    
    padding-top: 14px ;
    padding-left: 8px;
    margin-bottom: 12px;
}

.x-grid-row-over .x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div {
    background-color: #F1F6FF;
}


.comete-icon { 
    background-image: url(images/cometeIcon16.gif) !important; 
}

.sectionTitle {
    font-size: 18px;
    font-style: italic;
    color: #332659;
}

.intro {
    font-size: 13px;
    color: #04408C;
}

.results {
    font-size: 13px;
    color: #595959;
}

.choice {
    font-size: 14px;
    color: #04408C;
    text-decoration:underline;
}

.selectedChoice {
    font-size: 14px;
    color: #04408C;    
}

.x-tree-icon { 
    background-image: url(images/blueBullet.gif) !important; 
    background-repeat: no-repeat; 
}


.queryCondData {
    color: white;
}

.conceptCond {
    margin: 0px 0px 0px 3px !important;
}

.x-border-layout-ct {
    background-color: #ffffff;
}

.x-tab-bar-default {
    background-color: #ffffff;
}

div.x-border-layout-ct {
    background-color: #ffffff;
}

/*
 * Default stylesheet.
 */

body {
    background-color: white;
}

.BigSectionHeader {
    margin-top: 14px;
    font-size: 16px;
    text-transform: uppercase;
    color: #99248f;
}

.SectionHeader {
    margin-top: 14px;
    font-size: 14px;
    color: #2F4F4F;
}

.Footer {
    margin-top: 14px;
}

#SharingIcons {
    float: left;
}

#SharingIcons a {
    margin-left: 4px;
}

.ResourceLink {
    margin-top: 6px; 
    margin-bottom: 6px; 
    float: right;
}

.LearningObject {
    padding: 14px;
}

.LearningObjectTitle {
    font-size: 18px;
    color: #99248f;
}

.LearningResourceFileType {
    display: block;
}

.LearningResourceFileType:first-letter {
    text-transform: uppercase;
}

.LearningResourceType:first-letter {
    text-transform: uppercase;
}

table.Contributes tr td {
    padding: 10px;
    vertical-align: top;
}

.ContributesColContribPhoto {
    width: 100px;
}

.ContributesColOrgPhoto {
    width: 100px;
}

.Contributes {
    border-collapse: collapse;
    font-family: arial, "sans-serif";
    font-size: 12px;
}

.ContributeCell {
    width: 220px; 
}

.ContribRole {
    font-style: italic;
}

.ContributesRow {
    padding-bottom: 10px !important;
}

.ContributesColPhoto {
    width: 100px;
}

.ContributesColContribInfo {
    width: auto;
}

.ContribFullName {
    font-size: 14px;
    bottom-margin: 10px;
    color: #99248f;
}

.OrganizationName {
    font-size: 16px;
    color: #99248f;
    bottom-margin: 10px;
}


.WorkAdr {
    bottom-margin: 10px;
}

table.MetadataPerson {
    font-family: arial, "sans-serif";
    font-size: 14px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

table.MetadataOrganization {
    font-family: arial, "sans-serif";
    font-size: 14px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

table.MetadataOrganization tr td {
    vertical-align: top;
}

table.MetadataPerson tr td {
    vertical-align: top;
}

.ContributeImage{
}

.ContributeImageDetailedView {
}

.OrganizationImageDetailedView {
}

.LinkedDataLink {
    margin-left: 8px;
}

.ContributeLink {
    margin-left: 8px;
}

.RelatedLearningObjectsLink {
    margin-left: 8px;
}

ul li {
    list-style-type: circle;
    margin-left: 20px;
}

.x-grid-item-focused .x-grid-cell-inner:before {
    border: none;
}

.breadcrumb-button > .x-btn-wrap-default-toolbar-small.x-btn-split-right::after {
    background-image: url("images/default-split-arrow.png");
    width: 20px;
}

.breadcrumb-button.x-btn-over > .x-btn-wrap-default-toolbar-small.x-btn-split-right::after {
    background-image: url("images/default-split-arrow-over.png");
    width: 20px;
}

.breadcrumb-button.x-btn-menu-active > .x-btn-wrap-default-toolbar-small.x-btn-split-right::after {
    background-image: url("images/default-split-arrow-open.png");
    width: 20px;
}

.HighlightedBox {
    background-color: #eeeeee;
    /*border: 1px solid;*/
    border-radius: 8px;
    padding: 0 10px 10px 10px;
    box-shadow: 4px 4px 5px #666666;
    margin-top: 10px;
}

.secondaryData {
    background-color: #eeeeee;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 4px 4px 5px #666666;
}

.assocOrgsHeader {
    text-align: center; 
    text-decoration: underline;
    font-size: 14px;
}

.hidden {
    visibility: hidden;
}

ul {
    padding-left: 8px;
}


/* ceres */

a {
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a:hover { 
    text-decoration: underline;
}

.whiteLink a {
    color: white;
}

.LearningResourceDetailHyperlink a {
    color: #99248f;
}

.ContribFullName a {
    font-weight: bold;
}

.tblabel {
    font-family: arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: white;
}

.popupContent {
    font-family: arial, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #2F4F4F;
    margin:20px 20px 0px 20px;
}

.grad .x-panel-body {
    background: -webkit-linear-gradient(#b3b3b3, white); /* For Safari */
    background: linear-gradient(#999999, white);
} 

.transp1 .x-panel-body {
    background: none; 
    color: white;
}

.searchPanel .x-panel-body {
    background: -webkit-linear-gradient(#D6128A, #95278D); /* For Safari */
    background: linear-gradient(#D6128A, #95278D);
    color: white;
}

.transp2 .x-panel-body {
    background: none; 
    color: white;
}

.x-btn-default-toolbar-small .x-btn-inner {
    font-size: 14px;
    display: inline;
}

.x-boundlist-item img.chkCombo {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 4px;
    background: transparent url(ext-5.1.0/build/packages/ext-theme-gray/build/resources/images/menu/default-unchecked.gif);
}

.x-boundlist-selected img.chkCombo{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 4px;
    background: transparent url(ext-5.1.0/build/packages/ext-theme-gray/build/resources/images/menu/default-checked.gif);
}

.x-form-text-wrap {
    display: block;
}